<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Lobster&display=swap">
</ion-header>

<ion-content [fullscreen]="true">
  
  <img src="assets/background.jpeg" alt="background">

  <div class="container">
    <img src="assets/danis.jpg" alt="Logo">
  </div>
  <div class="login-container">
    <form (ngSubmit)="login()">
      <div class="ion-title">
      <ion-title>Login</ion-title>
      </div>
      <ion-item>
        <ion-input class="custom-input" label="Username" placeholder="Username"></ion-input>
      </ion-item>
      <br/>
      <ion-item>
        <ion-input label="Password" placeholder="Password" type = "password"></ion-input>
      </ion-item>
      <div class="button-container">
        <ion-button (click)="goToOtherPage()">Login</ion-button>
      </div>
    </form>
  </div>
  <div class="text-container">
    <p class="lower-left-text">"Making your celebrations more memorable"</p>
  </div>

  
</ion-content>
